<div class="chat-container">
  <h2>Chat with {{ receiverProfile()?.firstName }}</h2>

  <!-- Message List -->
  <div class="message-list">
    <ul>
      <li
        *ngFor="let msg of messages"
        [class.unread]="!msg.read"
        (click)="markAsRead(msg)"
      >
        <strong *ngIf="msg.senderId !== userId"
          >{{ receiverProfile()?.firstName }} :</strong
        >
        <strong *ngIf="msg.senderId === userId"
          >{{ userProfile()?.firstName }} :</strong
        >
        {{ msg.content }}
      </li>
    </ul>
  </div>

  <!-- Chat Input -->
  <app-chat [receiverId]="receiverId"></app-chat>
</div>
