/* You can add global styles to this file, and also import other style files */
:root {
  --bg-color: #ffffff;
  --text-color: #222222;
  --form-bg: #ffffff;
  --border-color: #ccc;
  --accent-color: #007bff;
  --accent-hover: #0056b3;
  --text-muted: #555;

  /* Dark mode */
  --bg-dark: #121212;
  --text-dark: #ffffff;
  --form-dark: #1e1e1e;
  --border-dark: #444;
  --input-dark: #333;
  --text-muted-dark: #bbb;
  --accent-dark: #00bcd4;
  --accent-hover-dark: #008ba3;
}
